<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mempass</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center" style="margin: 20px">CSE 227 Security Project</h1>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2>Mem-auth</h2>
                <p>Write some long paragraph :p </p>
                <br/>
                <p>Get started by : </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </body>
</html>