<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Memauth</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center" style="margin: 20px">CSE 227 Security Project</h1>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2>Mem-auth</h2>
                <p>Classical authentication systems are generally based on  “something you know” or
                    “something you have”. These systems impose a cognitive burden that often results in forgotten secrets or secrets with poor entropy. In this project we experiment on the usage of  passwords based on implicit memory.
                </p>
                <br/>
                <p>
                    Help us so we can help you authenticate without a password. Play a couple of games, tell us what you like. Best part is, you don’t have to pay attention to anything.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <a class="btn btn-primary btn-block" href="/signup" role="button">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Signup
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a class="btn btn-success btn-block" href="/authenticate" role="button">
                        <i class="fa fa-key" aria-hidden="true"></i> Authenticate
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Team</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="images/spoorthy.jpg" class="rounded-circle" style="height: 180px; width:180px"/>
                        <h2 style="color:rgb(120, 120, 120)">Sai Spoorthy Padigi</h2>
                        <p style="color:rgb(120, 120, 120)">spadigi@ucsd.edu</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="images/saienthan.jpg" class="rounded-circle" style="height: 180px; width:180px"/>
                        <h2 style="color:rgb(120, 120, 120)">Saienthan Kathavarayan</h2>
                        <p style="color:rgb(120, 120, 120)">skathava@ucsd.edu</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img src="images/sujith.jpg" class="rounded-circle" style="height: 180px; width:180px"/>
                        <h2 style="color:rgb(120, 120, 120)">Sujith Vadakkepat</h2>
                        <p style="color:rgb(120, 120, 120)">svadakke@ucsd.edu</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>