<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="margin: 20px">Sign-Up</h1>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="/signup" method="GET">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter email">
                        </div>
                            <button class="btn btn-primary btn-block" name="authentication_type" value="game">Game</button>
                            <button class="btn btn-primary btn-block" name="authentication_type" value="word_completion">Word</button>
                            <button class="btn btn-primary btn-block" name="authentication_type" value="poc">PoC</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>