
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mempass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdn.rawgit.com/jschr/textillate/master/assets/jquery.lettering.js"></script>
    <script src="https://cdn.rawgit.com/jschr/textillate/master/jquery.textillate.js"></script>

    <script>
        var word = "BRAHMIN"
        var pos = [1, 3, 5]

        $(function () {
            for (var i = 0; i < word.length; i++) {
                console.log(i + " " + $.inArray(i, pos));
                if ($.inArray(i, pos) >= 0) {
                    $("#word").append("<span class=\"tlt1\">" + word.charAt(i) + "</span>");
                } else {
                    console.log(word.charAt(i))
                    $("#word").append("<span class=\"tlt2\">" + word.charAt(i) + "</span>");
                }
            }
        })

        $(function () {
            $('.tlt1').textillate({ in: { effect: 'fadeIn', callback: function () {
                $('.tlt1').textillate('out')
            } }, out: { effect: 'fadeOut' } });

            $('.tlt2').textillate({ in: { effect: 'fadeIn', callback: function () {
                setTimeout(function() { $('.tlt2').textillate('out'); }, 1500);                
            } }, out: { effect: 'fadeOut'} });
        })
    
    </script>
    
</head>
<body>
    <div id="app">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="text-center">
                    <div id="word"></div>
                    <p class="lead" style="margin-top:50px">Meaning of this word ?</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>