
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mempass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdn.rawgit.com/jschr/textillate/master/assets/jquery.lettering.js"></script>
    <script src="https://cdn.rawgit.com/jschr/textillate/master/jquery.textillate.js"></script>

    <script>
    var data = <%- JSON.stringify(data) %>;
    </script>

    <script>
        window.onload = function() {
            data = JSON.parse(data)
            var ptr = 0;
            
            function showNextWord() {

                if (ptr < data.length) {
                    var word = data[ptr]['WORD'].toUpperCase()
                    var pos = data[ptr]['POSITIONS']

                    $("#word").empty()
                    $("#meaning").text(data[ptr]['DESCRIPTION'])

                    for (var i = 0; i < word.length; i++) {
                        if ($.inArray(i, pos) >= 0) {
                            $("#word").append("<span class=\"tlt1\">" + word.charAt(i) + "</span>");
                        } else {
                            $("#word").append("<span class=\"tlt2\">" + word.charAt(i) + "</span>");
                        }
                    }

                    $('.tlt1').textillate({ in: { effect: 'fadeIn'}, out: { effect: 'fadeOut' }  });
                    $('.tlt2').textillate({ in: { effect: 'fadeIn'}, out: { effect: 'fadeOut' }  });

                    $("#next").removeAttr("disabled")

                } else {  
                    alert("You are now trained with words. Please signup for other tasks!");
                    window.location.href="/signup"
                }
            }

            $("#next").click(function() {
                $("#next").attr("disabled","disabled");

                if (ptr < data.length) {
                    $('.tlt1').textillate('out')
                    setTimeout(function(){
                        $('.tlt2').textillate('out')
                        
                        setTimeout(function(){
                            ptr += 1;
                            showNextWord()
                        }, 800)

                    }, 1500)
                }  
            })

            showNextWord()

        }        
    </script>
</head>
<body>
    <div id="app">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="text-center">
                    <div id="word"></div>
                    <p id="meaning" class="lead" style="margin-top:20px"></p>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <button type="button" id="next" class="btn btn-success btn-block">
                            <span class="fa fa-arrow-right" aria-hidden="true"></span> Next
                        </button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>