<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>
        var name = <%- JSON.stringify(name) %>;
        var email = <%- JSON.stringify(email) %>;

        window.onload = function() {
            var a = document.getElementById('play_link'); 
            a.href = "/word/train?name=" + name + "&email=" + email;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="margin: 20px">Word Tutorial</h1>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">You will see a word on the screen, read it and click "Next". If you are curious you may read the meaning of the word at the bottom of the screen.</li>
                        <li class="list-group-item">
                            <img src="/images/word_tutorial_1.jpeg" class="img-fluid" alt="Word tutorial image"/>
                        </li>
                        <li class="list-group-item">For authentication using word completion, you will be shown a word with blanks. Complete the word and click next if you think you know the word.</li>
                        <li class="list-group-item">
                            <img src="/images/word_tutorial_2.jpeg" class="img-fluid" alt="Word tutorial image"/>
                        </li>
                        <li class="list-group-item">Just click next and continue to the next word if you don't know it.</li>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-block" role="button" id="play_link">
                    <i class="fa fa-gamepad" aria-hidden="true"></i> Play
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>