body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#app {
  padding: 50px;
}

a {
  color: #00B7FF;
}

canvas { 
  background: #eee; 
  width:100%; 
}

.title { 
  font-size: 6em
}

span {
  font-size: 1.8em
}