body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas { 
  background: #eee; 
  width:100%; 
}

h1 { 
  font-size: 6em
}

span {
  font-size: 1.8em
}